<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="css/mbvkg.css" rel="stylesheet">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">

    </head>
    <body>
        <div id="sparqlresult" width="100%">
          <span class="search-label">From which music artists would you like to start?</span>
          <input v-model="artistName">
          <button v-on:click="loadArtistsSimilarByNameData" :disabled="artistName==''">Load similarilly named artists</button>
          <div v-if="artistList.length > 0">
                  <mb-artist v-on:select-artist="select_artist"
                    v-for="item in artistList" v-bind:key="item.uri"
                    v-bind:artist="item"
                  ></mb-artist>
          </div>
        </div>
        <div id="graphcanvas"> </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <!-- <script src="js/cytoscape.min.js"></script> -->
    <script src="js/cola.v3.min.js"></script>
    <!-- <script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>  -->
    <script src="js/cytoscape-cola.js"></script>
    <script src="js/query_templates.js" type="text/javascript"></script>
    <script src="js/sparql_response_handlers.js" type="text/javascript"></script>
    <script src="js/utils.js" type="text/javascript"></script>
    <script src="js/graphcanvas.js" type="text/javascript"></script>

    <script>

var sparqlEndPoint = 'http://127.0.0.1:8080/sparql';
var musicGraph;
var musicGraphConnector;

// init the graph
document.addEventListener('DOMContentLoaded', function() {
    let cy = window.cy = cytoscape(getInitGraphData());
    musicGraph = new MusicGraphData();
    musicGraph.cy = cy;
    musicGraphConnector = new MusicGraphSparqlConnector();
    musicGraphConnector.musicGraphData = musicGraph;

    musicGraph.cy.on('click', 'node[type="artist"]', function(evt){
        var node = evt.target;
        musicGraphConnector.loadNodeNeighbors(node.id());
    });
    musicGraph.cy.on('click', 'node[type="group"]', function(evt){
        var node = evt.target;
        musicGraphConnector.loadNodeNeighbors(node.id());
    });
});

Vue.component('mb-artist', {
  props: ['artist'],
  template: '<button class="found-artist" v-on:click="$emit(\'select-artist\', artist.uri)" v-bind:class="/MusicGroup/.test(artist.type)?\'musicgroup\':\'soloartist\'">{{ artist.name }} ({{/MusicGroup/.test(artist.type)?\'group\':\'solo artist\'}})</button>'
})

var MbApp = new Vue({
  el: '#sparqlresult',
  data: {
    artistName: null,
    artist: {},
    artistList: [],
    artistFocused: null,
  },
  methods: {
    select_artist: function(uri) {
        if (!uri) {
            throw "in method select_artist: uri not set";
            return;
        }
        let hotItem = findInListByField(this.artistList, 'uri', uri);
        if (hotItem !== null) {
            this.artistName = this.artistList[hotItem]['name'];
            this.artist = this.artistList[hotItem];
        } else {
            throw "Could not find an array with key 'uri' and with value " + uri + " in data array artistList";
        }

        let artistType = musicGraph.nodeType(this.artist.type);
        // add node to graph
        let startingNode = this.artist;
        startingNode['id'] = uri;
        startingNode['label'] = this.artist['name'];

        // this is the first node of the graph
        musicGraph.clear();
        musicGraph.add(startingNode, {});
    },

    loadArtistsSimilarByNameData: function() {

        if (!this.artistName) {
          console.log("no artistName to query");
          return;
        }

        var params = new URLSearchParams();
        let similarGroupsQuery = queryArtistsByNameTpl.replace("$artistName", this.artistName);
        params.append('query', similarGroupsQuery);

        let getArtistsHandler = sparqlResponseHandler(this, 'artistList');
        axios.post(sparqlEndPoint, params).then(getArtistsHandler);
    }
  }
})
    </script>
</html>
